* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__bg{
    background: linear-gradient(90deg, rgba(0, 25, 73, 1) 0%, rgba(0, 47, 136, 1) 100%);
}