@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&display=swap');

:root {
    --navbar-bg: #ECEFF5;
    --font-family: 'Nanum Myeongjo', serif;
    --font-blog:'Anton', sans-serif;
    --font-nav: 'Pacifico', cursive;
}